@import "../App.scss";

.multiselectDropdownContainer{
  width: 100%;
  .multiselectDropdown{
    color: $primary-base-color;
    .MuiSelect-icon{
      color: $primary-base-color;
    }
    .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-notchedOutline:hover{
      border-color: $primary-base-color !important;
    }
    .MuiInputBase-input{
      padding: 10px 32px 10px 12px;
    }
  }
}

.MuiPaper-root{
  background-color: #292729 !important;
  opacity: 0.95 !important;
  .MuiMenuItem-root{
    color: $primary-text-color;
    padding-top: 3px;
    padding-bottom: 3px;
    .MuiCheckbox-root{
      color: $primary-text-color;
      padding: 3px 10px 3px 3px;
    }
    .Mui-checked{
      color: $primary-base-color;
    }
  }
}